<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form class="form-area" method="post" action="/post/">
    <div class="form-group mt-2 mb-2">
        <input type="text" class="form-control" name="title">
    </div>
    <div class="form-group mt-2 mb-2">
        <input type="password" class="form-control" name="content">
    </div>
    <select id="selectTest1" class="selectpicker" name="category">
        <option value="a">movie</option>
        <option value="b">entertainment</option>
        <option value="c">drama</option>
    </select>
    <label for="labTest1"></label>
    <hr>
    <div style="float: right">
        <button type="submit" class="btn btn-primary">글쓰기</button>
    </div>
</form>

</body>
</html>