<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script>
        function register() {
            $.ajax({
                type: "POST",
                url: "/api/register",
                data: {
                    id_give: $('#email').val(),
                    pw_give: $('#pw').val()
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('회원가입이 완료되었습니다.')
                        window.location.href = 'index'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }

        function login() {
            $.ajax({
                type: "POST",
                url: "/api/login",
                data: {id_give: $('#email').val(), pw_give: $('#pw').val()},
                success: function (response) {
                    if (response['result'] == 'success') {
                        // 로그인이 정상적으로 되면, 토큰을 받아옵니다.
                        // 이 토큰을 mytoken이라는 키 값으로 쿠키에 저장합니다.
                        $.cookie('mytoken', response['token']);

                        alert('로그인 완료!')
                        window.location.href = 'index'
                    } else {
                        alert(response['msg'])
                    }
                }
            })
        }
    </script>
</head>
<body>
<div class="login" style="margin:auto; border: 1px solid; display:inline-block; text-align: center;">
    <div>EMAIL<input type="text" id="email"/></div>
    <div>PW<input type="text" id="pw"/></div>
    <div>
        <button onclick="register()"> 회원가입</button>
    </div>
    <div>
        <button onclick="login()"> 로그인</button>
    </div>
</div>


</body>
</html>